*{box-sizing:border-box;}
.d-basicbox{
    background:#ededed;
    border-radius:8px;
    padding:20px;
    margin:20px 30px 0;
}
input::file-selector-button {
    display: none;
}
.talkcategory{
    padding:10px 30px;
}
.talkcategory .button{
    color:#333;
}